html {
    background: #EEEFF3;
    font-size: 16px;
    font-family: sans-serif;
}
body {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.2em;
}
h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: .25em;
    padding-top: 1em;
    padding-bottom: 1em;
}
h2{
    font-size: 1.25em;
    font-weight: bold;
    margin: 5px;
    padding: .5em;
}
h2.week{
    border-radius: .5em;
    background-color: #5f9A9D;
}
header h2{
    color: #983332;
}
h3, h4{
	padding: .5em;
	padding-left: 1em;
	font-size: 1.15em;
}
h4{
	font-size: 1.1;
}
p{
	padding: 1em;
    padding-left: 2em;
}
ol, ul{
	list-style: disc;
	padding-left: 3em;
}
#weekly {
	list-style: none;
    padding-left: 2em;
}
#weekly li {
    padding-bottom: .5em;
}
nav {
    width: 100%;
    background: #8C9395;
}
nav ul {
    padding: 0;
    list-style: none;
    background: #333;
    height: 40px;
}
nav ul li {
    display: inline-block;
    width: 24.5%;
    background: #BBB;
    text-align: center;
    height: 100%;
    cursor: pointer;
    margin-left: .4%;
}
nav ul li a {
    color: #000;
    font-family: sans-serif;
    text-decoration: none;
    margin: auto;
    vertical-align: -10px;
    font-size: 1.1em;
}
*.bounded {
    max-width: 800px;
    min-width: 480px;
    margin: auto;
}
#professor-info {
    float: right;
    margin: 5px;
}
#professor-info img{
    float: right;
}
#professor-info ul {
	list-style: none;
    text-align: center;
    clear: right;
}
#home {
    background: #92D371
}
#home:hover, #home.selected {
	background: #6FD6F2;
    box-shadow: 0px 0px 10px #333;
}
#content {
    background: #92D371
}
#content:hover, #content.selected {
	background: #6FD6F2;
    box-shadow: 0px 0px 10px #333;
}
#projects {
    background: #92D371
}
#projects:hover, #projects.selected {
	background: #6FD6F2;
	box-shadow: 0px 0px 10px #333;
}
#syllabus {
    background: #92D371
}
#syllabus:hover, #syllabus.selected {
	background: #6FD6F2;
    box-shadow: 0px 0px 10px #333;
}
.button, .button:visited {
  background: #f49e58;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
              0 1px 0 #f9c482 inset,
              0 1px 10px #d77a38 inset;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ed571c;
  border: 1px solid #b56b22;
  border-radius: 5px;
  padding: 2px 10px;
  display: inline-block;
}
.button:hover {
  background: #edbb56;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
              0 1px 0 #f6d886 inset,
              0 1px 10px #e5a73b inset;
  text-shadow: 0 1px 0 #e47e15;
  border-color: #c09a32;
  border-radius: 5px;
}
.button:active, .button.current {
  background: #da814b;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2) inset,
              0 1px 0 rgba(255,255,255, 0.8);
  border-color: #b68a32;
  color: #7e5b2e;
  text-shadow: 0 1px 0 #f1d296;
}​
